version: "3.8"

volumes:
  oracle-data-bankmore:

services:
  bankmore.oracle:
    container_name: bankmore.oracle
    image: gvenzl/oracle-free
    environment:
      ORACLE_PASSWORD: "test@123"
      ORACLE_PDB: "FREEPDB1"
      ORACLE_MEMORY: "2g"
      ORACLE_INIT_PARAMS: "sessions=200, processes=100"
      ORACLE_CHARACTERSET: "AL32UTF8"
      ORACLE_EDITION: "xe"
    ports:
      - "1521:1521"
      - "5500:5500"
    volumes:
      - oracle-data-bankmore:/opt/oracle/oradata
      - ./assets/oracle/init:/container-entrypoint-initdb.d
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "echo 'select 1 from dual;' | sqlplus -s system/test@123@localhost/FREEPDB1 > /dev/null || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 30

  authentication.api:
    container_name: authentication.api
    image: ${DOCKER_REGISTRY-}authentication
    build:
      context: .
      dockerfile: src/Authentication-Api/Authentication.Api/Dockerfile
    restart: always
    ports:
      - "5000:80"
    environment:
      ASPNETCORE_URLS: http://+:80
      ASPNETCORE_ENVIRONMENT: Production
      DOTNET_ENVIRONMENT: Production
      Identity__Issuer: "http://authentication.api"
      Identity__ValidOn: "http://localhost"
    depends_on:
      bankmore.oracle:
        condition: service_healthy

  account.api:
    container_name: account.api
    image: ${DOCKER_REGISTRY-}account
    build:
      context: .
      dockerfile: src/Account-Api/Account.Api/Dockerfile
    restart: always
    ports:
      - "5010:80"
    environment:
      ASPNETCORE_URLS: http://+:80    
      ASPNETCORE_ENVIRONMENT: Production
      DOTNET_ENVIRONMENT: Production
      Identity__Authority: "http://authentication.api"
      Identity__Audience: "http://localhost"
    depends_on:
      bankmore.oracle:
        condition: service_healthy
